.DS_Store
node_modules/
dist/
build/
.vite/
.turbo/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
.env.local
.env.production
.env.development
.cache/
.idea/
.vscode/
.history/
*.sqlite
*.db
*.pem
*.key
secrets.*
/.parcel-cache/
/.next/
/.out/
/.DS_Store